<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />@* 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
    <title>@ViewData["Title"] - Website</title>@* 
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">


    @* <meta charset="utf-8"> *@
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        @* <title>Signflow - Construction And Building Template</title> *@
        <meta name="description" content="Multipurpose HTML template.">
        <script src="~/Template/HTWF/scripts/jquery.min.js"></script> 
        <link rel="stylesheet" href="~/Template/HTWF/scripts/bootstrap/css/bootstrap.css"> 
        <script src="~/Template/HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="~/Template/HTWF/style.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/content-box.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/image-box.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/animations.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/components.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/flexslider/flexslider.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/magnific-popup.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/php/contact-form.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/social.stream.css">
        <link rel="icon" href="~/Template/images/favicon.png">
        <link rel="stylesheet" href="~/Template/skin.css">
   
</head>
<body>
    <div id="preloader"></div>
    <header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="~/Template/pages/index.html">
                            <img class="logo-default" src="~/Template/images/logo-black.png" alt="logo" />
                            <img class="logo-retina" src="~/Template/images/logo-retina-black.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Home <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level"> 
                                        <li><a asp-action="Index" asp-controller="Home">Home Page</a></li> 
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Pages <span class="caret"></span></a>
                                    <ul class="dropdown-menu  multi-level">
                                        <li class="">
                                            <a asp-action="About" asp-controller="Page">About</a>
                                        </li>
                                       <li class="">
                                            <a asp-action="Skill" asp-controller="Page">Skills</a>
                                        </li> 
                                        <li class="">
                                            <a asp-action="Contact" asp-controller="Page">Contacts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Portfolio <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li class="">
                                            <a asp-action="Index" asp-controller="Home">MVC</a>
                                        </li>
                                        <li class="">
                                            <a asp-action="Index" asp-controller="Home">Razor Pages</a>
                                        </li>
                                        <li><a asp-action="Index" asp-controller="Home">Blazor</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">Web API</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown mega-dropdown mega-tabs">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Certifications<span class="caret"></span></a>
                                    <div class="mega-menu dropdown-menu multi-level row bg-menu">
                                        <div class="tab-box" data-tab-anima="fade-left">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#" class="text-uppercase">C# & Javascript</a></li>
                                                    <li><a href="#" class="text-uppercase">SQL</a></li>
                                                    <li><a href="#" class="text-uppercase">others</a></li>
                                                </ul>
                                          
                                            <div class="panel active">
                                                <div class="col">
                                                    <h5>Components</h5>
                                                    <ul class="fa-ul text-s">
                                                       <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/CSharpCert.PNG" data-lightbox-anima="fade-top">
                                                               Foundational C# With Microsoft
                                                            </a>
                                                       </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                                                Advanced C#
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                                                Prime c#
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="col">
                                                    <h5>Horizontal menus</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                                                Foundationals JS
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                                                Advanced Js
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="col">
                                                    <h5>Image background</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/DegreeCert (1) - Copy - Copy.jpg" data-lightbox-anima="fade-top">
                                                                University Degree Certificate
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/WAEC ORIGINAL_20180418_0001.jpg" data-lightbox-anima="fade-top">
                                                                West Africa Examination Council Certificate (WAEC)
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/Statement of Result_20180418_0001 - Copy.jpg" data-lightbox-anima="fade-top">
                                                                University Statement Of Result
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/nysc.jpg" data-lightbox-anima="fade-top">
                                                                National Youth Service Corps Discharge Certificate (NYSC)
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        <img width="120" src="~/Template/images/logo.png" alt="" />
                    </div>
                    <div class="col-md-6 footer-left text-left">
                        <p>Collins Street West 8007, San Fransico, United States.</p>
                        <div class="tag-row">
                            <span>support@company.com</span>
                            <span>+02 3205550678</span>
                        </div>
                    </div>
                    <div class="col-md-3 footer-left text-right text-left-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2018 Signflow - Multipurpose & Tech Business Template <span>Handmade by <a href="http://schiocco.io/">schiocco.io</a></span>
                </div>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="~/Template/HTWF/scripts/font-awesome/css/font-awesome.css">
    <script async src="~/Template/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Template/HTWF/scripts/imagesloaded.min.js"></script>
    <script src="~/Template/HTWF/scripts/parallax.min.js"></script>
    <script src="~/Template/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
    <script async src="~/Template/HTWF/scripts/isotope.min.js"></script>
    <script async src="~/Template/HTWF/scripts/php/contact-form.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.progress-counter.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.tab-accordion.js"></script>
    <script async src="~/Template/HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/HTWF/scripts/social.stream.min.js"></script>
    <script src="~/Template/HTWF/scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Template/HTWF/scripts/smooth.scroll.min.js"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@ 
    <script src="~/js/site.js" asp-append-version="true"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
