<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />@* 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
    <title>@ViewData["Title"] - Website</title>@* 
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">


    @* <meta charset="utf-8"> *@
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        @* <title>Signflow - Construction And Building Template</title> *@
        <meta name="description" content="Multipurpose HTML template.">
        <script src="~/Template/HTWF/scripts/jquery.min.js"></script> 
        <link rel="stylesheet" href="~/Template/HTWF/scripts/bootstrap/css/bootstrap.css"> 
        <script src="~/Template/HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="~/Template/HTWF/style.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/content-box.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/image-box.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/animations.css">
        <link rel="stylesheet" href="~/Template/HTWF/css/components.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/flexslider/flexslider.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/magnific-popup.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/php/contact-form.css">
        <link rel="stylesheet" href="~/Template/HTWF/scripts/social.stream.css">
        <link rel="icon" href="~/Template/images/favicon.png">
        <link rel="stylesheet" href="~/Template/skin.css">
   
</head>
<body>
    <div id="preloader"></div>
    <header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="~/Template/pages/index.html">
                            <img class="logo-default" src="~/Template/images/logo-black.png" alt="logo" />
                            <img class="logo-retina" src="~/Template/images/logo-retina-black.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Home <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level"> 
                                        <li><a asp-action="Index" asp-controller="Home">Home Page</a></li> 
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Pages <span class="caret"></span></a>
                                    <ul class="dropdown-menu  multi-level">
                                        <li class="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">about</a>
                                        </li>
                                       <li class="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Skills</a>
                                        </li> 
                                        <li class="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Projects <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li class="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">MVC</a>
                                        </li>
                                        <li class="">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Razor Pages</a>
                                        </li>
                                         <li><a href="~/Template/pages/~/Template/pages/portfolio-3.html">Blazor</a></li>
                                        <li><a href="~/Template/pages/portfolio-4.html">Web API</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown mega-dropdown mega-tabs">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Certifications<span class="caret"></span></a>
                                    <div class="mega-menu dropdown-menu multi-level row bg-menu">
                                          <div class="tab-box" data-tab-anima="fade-left">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#" class="text-uppercase">C# & Javascript</a></li>
                                                    <li><a href="#" class="text-uppercase">SQL</a></li>
                                                    <li><a href="#" class="text-uppercase">others</a></li>
                                                </ul>
                                          
                                            <div class="panel active">
                                                <div class="col">
                                                    <h5>Components</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li><i class="fa-li fa fa-cubes"></i> <a href="~/Template/pages/features/components/icons.html">Icons</a></li>
                                                        <li><i class="fa-li fa fa-plus"></i> <a href="~/Template/pages/features/components/counters-countdown.html">Counters</a></li>
                                                        <li><i class="fa-li fa fa-clock-o"></i> <a href="~/Template/pages/features/components/counters-countdown.html">Countdowns</a></li>
                                                        <li><i class="fa-li fa fa-tasks"></i> <a href="~/Template/pages/features/components/progress-bars.html">Progress bars</a></li>
                                                        <li><i class="fa-li fa fa-circle-o"></i> <a href="~/Template/pages/features/components/progress-bars.html">Circle progress bars</a></li>
                                                        <li><i class="fa-li fa fa-calendar"></i> <a href="~/Template/pages/features/components/timeline.html">Timeline</a></li>
                                                        <li><i class="fa-li fa fa-map-marker"></i> <a href="~/Template/pages/features/components/maps.html">Google maps</a></li>
                                                        <li><i class="fa-li fa fa-table"></i> <a href="~/Template/pages/features/components/tables.html">Advanced table</a></li>
                                                        <li><i class="fa-li fa fa-envelope-o"></i> <a href="~/Template/pages/features/components/php-contact-form.html">Contact form</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="col">
                                                    <h5>Horizontal menus</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li><i class="fa-li fa fa-list"></i> <a href="~/Template/pages/features/menus/classic.html">Menu classic</a></li>
                                                        <li><i class="fa-li fa fa-list"></i> <a href="~/Template/pages/features/menus/classic-transparent.html">Menu classic transparent</a></li>
                                                        <li><i class="fa-li fa fa-list"></i> <a href="~/Template/pages/features/menus/big-logo.html">Menu big logo</a></li>
                                                        <li><i class="fa-li fa fa-list"></i> <a href="~/Template/pages/features/menus/subline.html">Menu subline</a></li>
                                                        <li><i class="fa-li fa fa-list"></i> <a href="~/Template/pages/features/menus/subtitle.html">Menu subtitle</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="col">
                                                    <h5>Image background</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li><i class="fa-li fa fa-photo"></i> <a href="~/Template/pages/features/titles/image.html">Image background</a></li>
                                                        <li><i class="fa-li fa fa-photo"></i> <a href="~/Template/pages/features/titles/image-fullscreen.html">Image full-screen</a></li>
                                                        <li><i class="fa-li fa fa-photo"></i> <a href="~/Template/pages/features/titles/image-fullscreen-parallax.html">Image full-screen parallax</a></li>
                                                        <li><i class="fa-li fa fa-photo"></i> <a href="~/Template/pages/features/titles/image-parallax.html">Image parallax</a></li>
                                                        <li><i class="fa-li fa fa-photo"></i> <a href="~/Template/pages/features/titles/image-parallax-ken-burn.html">Image parallax ken-burn</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        <img width="120" src="~/Template/images/logo.png" alt="" />
                    </div>
                    <div class="col-md-6 footer-left text-left">
                        <p>Collins Street West 8007, San Fransico, United States.</p>
                        <div class="tag-row">
                            <span>support@company.com</span>
                            <span>+02 3205550678</span>
                        </div>
                    </div>
                    <div class="col-md-3 footer-left text-right text-left-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2018 Signflow - Multipurpose & Tech Business Template <span>Handmade by <a href="http://schiocco.io/">schiocco.io</a></span>
                </div>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="~/Template/HTWF/scripts/font-awesome/css/font-awesome.css">
    <script async src="~/Template/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Template/HTWF/scripts/imagesloaded.min.js"></script>
    <script src="~/Template/HTWF/scripts/parallax.min.js"></script>
    <script src="~/Template/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
    <script async src="~/Template/HTWF/scripts/isotope.min.js"></script>
    <script async src="~/Template/HTWF/scripts/php/contact-form.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.progress-counter.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.tab-accordion.js"></script>
    <script async src="~/Template/HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/HTWF/scripts/social.stream.min.js"></script>
    <script src="~/Template/HTWF/scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Template/HTWF/scripts/smooth.scroll.min.js"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@ 
    <script src="~/js/site.js" asp-append-version="true"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
