<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />@*
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
    <title>@ViewData["Title"] - Website</title>@*
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">


    @* <meta charset="utf-8"> *@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* <title>Signflow - Construction And Building Template</title> *@
    <meta name="description" content="Multipurpose HTML template.">
    <script src="~/Template/HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Template/HTWF/scripts/bootstrap/css/bootstrap.css">
    <script src="~/Template/HTWF/scripts/script.js"></script>
    <link rel="stylesheet" href="~/Template/HTWF/style.css">
    <link rel="stylesheet" href="~/Template/HTWF/css/content-box.css">
    <link rel="stylesheet" href="~/Template/HTWF/css/image-box.css">
    <link rel="stylesheet" href="~/Template/HTWF/css/animations.css">
    <link rel="stylesheet" href="~/Template/HTWF/css/components.css">
    <link rel="stylesheet" href="~/Template/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/Template/HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="~/Template/HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="~/Template/HTWF/scripts/social.stream.css">
    <link rel="icon" href="~/Template/images/favicon.png">
    <link rel="stylesheet" href="~/Template/skin.css">

</head>
<body>
    <div id="preloader"></div>
    <header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="~/Template/pages/index.html">
                            <img class="logo-default" src="~/Template/images/logo-black.png" alt="logo" />
                            <img class="logo-retina" src="~/Template/images/logo-retina-black.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Home <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li><a asp-action="Index" asp-controller="Home">Home Page</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Pages <span class="caret"></span></a>
                                    <ul class="dropdown-menu  multi-level">
                                        <li class="">
                                            <a asp-action="About" asp-controller="Page">About</a>
                                        </li>
                                        <li class="">
                                            <a asp-action="Skill" asp-controller="Page">Skills</a>
                                        </li>
                                        <li class="">
                                            <a asp-action="Contact" asp-controller="Page">Contacts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Portfolio <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        <li class="">
                                            <a asp-action="Web" asp-controller="Portfolio">Web</a>
                                        </li>
                                        <li class="">
                                            <a asp-action="Mobile" asp-controller="Portfolio">Mobile</a>
                                        </li>
                                        <li><a asp-action="Desktop" asp-controller="Portfolio">Desktop</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown mega-dropdown mega-tabs">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Certifications<span class="caret"></span></a>
                                    <div class="mega-menu dropdown-menu multi-level row bg-menu">
                                        <div class="tab-box" data-tab-anima="fade-left">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#" class="text-uppercase">C#</a></li>
                                                <li><a href="#" class="">HTML/CSS & javaScript</a></li>
                                                <li><a href="#" class="text-uppercase">Others(Sql, Cloud, Data Structure)</a></li>
                                            </ul>

                                           
                                            <div class="panel active">
                                                <div class="col">
                                                    <h5>Certificates</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-c-mastercourse.jpg" data-lightbox-anima="fade-top">
                                                                C# Master Course
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-c-basics-for-beginners.jpg" data-lightbox-anima="fade-top">
                                                               C# Basics
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-c-intermediate-classes-interfaces-and-object-oriented-programming.jpg" data-lightbox-anima="fade-top">
                                                               C# Intermediate(Classes, Interfaces and OOP)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-c-advanced.jpg" data-lightbox-anima="fade-top">
                                                                C# Advanced topics
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-upgrading-to-net-core-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                               Upgrading .Net Framework Apps To .Net Core
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-getting-started-with-net-core.jpg" data-lightbox-anima="fade-top">
                                                                .Net Core
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-net-core-appsettings-in-depth.jpg" data-lightbox-anima="fade-top">
                                                                .Net Core Appsettings In Depth
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/ASp.net core certificate.jpg" data-lightbox-anima="fade-top">
                                                                ASP.Net Core(From Start To Finish)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/DI Certificate.jpg" data-lightbox-anima="fade-top">
                                                                Dependency Injection in .Net Core
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-the-complete-asp-net-mvc-5-course.jpg" data-lightbox-anima="fade-top">
                                                                ASP.Net Core MVC
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-blazor-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                                Blazor(Start To Finish)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/BLAZOR_sERVER iN DEPTH.jpg" data-lightbox-anima="fade-top">
                                                                Blazor Server In Depth
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/1-exploring-c-blazor-webassembly.jpg" data-lightbox-anima="fade-top">
                                                                Blazor Web Web Assembly
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/web-api-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                               Web API from Start to Finish
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/webApiUdemy.png" data-lightbox-anima="fade-top">
                                                               Web API in .NET 7
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-entity-framework-6-course.jpg" data-lightbox-anima="fade-top">
                                                                Entity Framework ORM
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="col">
                                                    <h5>Certificates</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/the-ultimate-html-course-fundamentals (1).jpg" data-lightbox-anima="fade-top">
                                                                Html5 and CSS3 Fundamentals
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/the-ultimate-html-course-advanced-concepts.jpg" data-lightbox-anima="fade-top">
                                                                Html5 and CSS3 Advanced Concept
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/JS Basics.jpg" data-lightbox-anima="fade-top">
                                                                javaScript Fundamentals
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/1-foundation-in-web-development.jpg" data-lightbox-anima="fade-top">
                                                                Web Development Master Course
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/1-bootstrap-5-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                                Bootstrap 5
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-react-18-for-beginners.jpg" data-lightbox-anima="fade-top">
                                                               React.js(Beginner)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-angular-4-crash-course.jpg" data-lightbox-anima="fade-top">
                                                                Angular 4 Crash Course
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-angular-4-beginner-to-pro.jpg" data-lightbox-anima="fade-top">
                                                                Angular 4 (Beginner to Pro)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-redux-in-angular.jpg" data-lightbox-anima="fade-top">
                                                                Redux In Angular
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-full-stack-development-with-asp-net-core-1-and-angular-4.jpg" data-lightbox-anima="fade-top">
                                                                Angular and .Net Core API(Full Stack)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/next-js-projects-build-an-issue-tracker.jpg" data-lightbox-anima="fade-top">
                                                                Next.js
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-the-complete-node-js-course.jpg" data-lightbox-anima="fade-top">
                                                                Node.js
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-the-ultimate-react-native-series-part-1.jpg" data-lightbox-anima="fade-top">
                                                                React Native
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="col">
                                                    <h5>Certificates</h5>
                                                    <ul class="fa-ul text-s">
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/DegreeCert (1) - Copy - Copy.jpg" data-lightbox-anima="fade-top">
                                                                University Degree Certificate
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/WAEC ORIGINAL_20180418_0001.jpg" data-lightbox-anima="fade-top">
                                                                West Africa Examination Council Certificate (WAEC)
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/Statement of Result_20180418_0001 - Copy.jpg" data-lightbox-anima="fade-top">
                                                                University Statement Of Result
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/nysc.jpg" data-lightbox-anima="fade-top">
                                                                National Youth Service Corps Discharge Certificate (NYSC)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-complete-sql-mastery.jpg" data-lightbox-anima="fade-top">
                                                                Complete Sql Mastery
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-sql-databases-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                                Sql Database(From Start To Finish)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/1-accelerate-microsoft-sql.jpg" data-lightbox-anima="fade-top">
                                                                Ms sql
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-getting-started-with-azure.jpg" data-lightbox-anima="fade-top">
                                                               Azure Cloud
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/1-azure-active-directory-b2c-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                                Azure Active Directory(b2c)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/ap-accelerate-azure-functions.jpg" data-lightbox-anima="fade-top">
                                                                Azure Functions
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-devops-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                                DevOps
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-database-devops-from-start-to-finish (2).jpg" data-lightbox-anima="fade-top">
                                                                Database Devops
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-getting-started-with-docker.jpg" data-lightbox-anima="fade-top">
                                                                Docker
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-ap-prove-it-c-algorithms-data-structures.jpg" data-lightbox-anima="fade-top">
                                                                Data Structure and Algorithm in C#
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-visual-studio-and-resharper.jpg" data-lightbox-anima="fade-top">
                                                               Visual Studio
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/Data Structures...1.jpg" data-lightbox-anima="fade-top">
                                                                Data Structure
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/certificate-of-completion-for-the-ultimate-data-structures-algorithms-part-2 (1).jpg" data-lightbox-anima="fade-top">
                                                                Data Structure and Algorithm
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/Data structure..3.jpg" data-lightbox-anima="fade-top">
                                                                Data Structure and Algorithm(Advanced)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/Design Pattern 1.jpg" data-lightbox-anima="fade-top">
                                                                Design Pattern 1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/Design Pattern 2.jpg" data-lightbox-anima="fade-top">
                                                                Design Pattern 2
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/Design pattern3.jpg" data-lightbox-anima="fade-top">
                                                                Design Pattern 3
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <i class="fa-li fa fa-cubes"></i>
                                                            <a class="lightbox" href="~/Template/images/git-from-start-to-finish.jpg" data-lightbox-anima="fade-top">
                                                                Version Control(git)
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        <img width="120" src="~/Template/images/logo.png" alt="" />
                    </div>
                    <div class="col-md-6 footer-left text-left">
                        <p>Collins Street West 8007, San Fransico, United States.</p>
                        <div class="tag-row">
                            <span>support@company.com</span>
                            <span>+02 3205550678</span>
                        </div>
                    </div>
                    <div class="col-md-3 footer-left text-right text-left-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2018 Signflow - Multipurpose & Tech Business Template <span>Handmade by <a href="http://schiocco.io/">schiocco.io</a></span>
                </div>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="~/Template/HTWF/scripts/font-awesome/css/font-awesome.css">
    <script async src="~/Template/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Template/HTWF/scripts/imagesloaded.min.js"></script>
    <script src="~/Template/HTWF/scripts/parallax.min.js"></script>
    <script src="~/Template/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
    <script async src="~/Template/HTWF/scripts/isotope.min.js"></script>
    <script async src="~/Template/HTWF/scripts/php/contact-form.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.progress-counter.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.tab-accordion.js"></script>
    <script async src="~/Template/HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
    <script async src="~/Template/HTWF/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/HTWF/scripts/social.stream.min.js"></script>
    <script src="~/Template/HTWF/scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Template/HTWF/scripts/smooth.scroll.min.js"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
