@{
   ViewData["Title"] = "Home Page";
}

<div class="section-bg-image bg-top" style="background-image:url(/Template/images/long-1.jpg)">
    <div class="container content">
        <div class="row">
            <div class="col-md-10 col-center text-center" data-anima="fade-in" data-time="1000">
                <hr class="space m" />
                <h1 style="font-weight:normal"><span class="text-dark">Hello, Am Edward Miebi</span></h1>
                <h2>I am a Full Stack <span class="text-bold text-color">.NET</span> web developer</h2>
                <hr class="space" />
                <a href="#" class="circle-button btn btn-lg shadow-1">Download CV</a><span class="space"></span>
                <a class="lightbox circle-button btn btn-border btn-lg" href="~/Template/Videos/Waloyo Yamoni - _We Overcome the Wind_.mp4" data-lightbox-anima="show-scale">
                    <i class="fa fa-play"></i>Watch the video
                </a>
            </div>
        </div>
        <hr class="space" />
        <hr class="space" />
        <hr class="space l" />
        <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:3,controlNav:true,directionNav:true">
            <ul class="slides">
                <li>
                    <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
                        <a class="img-box lightbox img-scale-up" href="#">
                            <span><img src="~/Template/images/ASP-Net-MVC-Core.jpg" alt="" style="height:130px"></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>ASP.NET CORE MVC</h3>
                            <p>
                                Unlocking the power of structured elegance. In the world of web development, 
                                MVC stands tall as a proven architectural pattern. 
                                With MVC, I craft seamless, modular, and maintainable web applications where data,
                                presentation, and control gracefully intertwine. @* It's not just about building websites;  *@
                                it's about architecting digital experiences.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
                        <a class="img-box lightbox img-scale-up" href="#">
                            <span><img src="~/Template/images/Razor_Logo-768x307.png" alt="" style="height:130px"></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>RAZOR PAGES</h3>
                            <p>
                                Elevating simplicity to an art form. Razor Pages are where I embrace simplicity and productivity 
                                without compromising on flexibility. Crafting intuitive user interfaces and handling requests with 
                                finesse becomes second nature. 
                                Every line of code resonates with user-centric design, making the complex appear beautifully simple.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
                        <a class="img-box lightbox img-scale-up" href="#">
                            <span><img src="~/Template/images/webAPI.webp" alt="" style="height:130px"></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>ASP.NET CORE WEB API</h3>
                            <p>
                                Building bridges in the digital realm. APIs are my secret 
                                language for enabling systems to speak with each other, 
                                making the web a connected ecosystem. Crafting RESTful, 
                                robust, and secure APIs is my specialty.
                                I create the pathways that drive data-driven innovation, 
                                connecting applications and transformation.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
                        <a class="img-box lightbox img-scale-up" href="#">
                            <span><img src="~/Template/images/blazorzzz.jpg" alt="" style="height:130px"></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>BLAZOR</h3>
                            <p>
                                Bringing the future to the present. With Blazor, I'm not just developing web applications; 
                                I'm pioneering the future of web development. Blending C# and HTML effortlessly, I create interactive, real-time web experiences. 
                                No more compromises between client and server, just seamless, responsive applications with a touch of magic.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr class="space" />
        <h1 class="text-l text-center">
            Elevating Digital Landscapes: My Skill Set
        </h1>
        <hr class="space" />
        <div class="grid-list">
            <div class="grid-box row">
                <div class="grid-item col-md-4">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="devicon-html5-plain text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">HTML 5</label>
                            <p>
                                Molding the digital canvas: HTML5 is my artistic tool for structuring and shaping the online world. 
                                It enables me to create visually stunning and semantically meaningful web pages, ensuring a delightful user experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item col-md-4">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="devicon-css3-plain text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">CSS 3</label>
                            <p>
                                Designing magic with style: CSS3 adds the enchantment to my web creations. 
                                It empowers me to craft captivating layouts, elegant animations, and responsive designs,
                                turning ideas into visually captivating realities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item col-md-4">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="devicon-javascript-plain text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Javascript</label>
                            <p>
                                Breathing life into the web: JavaScript is my sorcery for interactivity and dynamic web experiences.
                                It enables me to create feature-rich applications, making websites not just informative but engaging and functional.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item col-md-4">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="devicon-csharp-plain text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">C#</label>
                            <p>
                                The language of my solutions: C# is my chosen instrument for building versatile and scalable applications. 
                                Its rich features and .NET ecosystem enable me to create software that not only meets but exceeds expectations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item col-md-4">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="devicon-visualstudio-plain text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Visual Studio</label>
                            <p>
                                My coding sanctuary: Visual Studio is where I bring my ideas to life. With its powerful development environment and toolset, I craft robust,
                                efficient, and maintainable applications that stand the test of time.
                            </p>
                        </div>
                    </div>
                </div>
                 <div class="grid-item col-md-4">
                    <div class="icon-box">
                        <div class="icon-box-cell" style="max-width:auto; padding:0;">
                            <i class="devicon-microsoftsqlserver-plain-wordmark text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">SQL</label>
                            <p>
                                Mastering data's language: SQL is my conduit to the world of data. It allows me to manipulate, query, and manage data with precision,
                                ensuring that information flows seamlessly and securely within applications.
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <hr class="space" />
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center-sm">
                <h1>Evolving in Bytes</h1>
                <p class="text-color">
                    My web development journey is a captivating odyssey, a continuous exploration into the boundless realms of code and creativity.
                    It all began as a spark of curiosity, a fascination with the way bytes of data could be transformed into interactive, user-friendly experiences. Over the years, 
                    I've embarked on a relentless pursuit of knowledge and mastery, navigating the ever-changing landscape of web technologies.</p>
                <hr class="space xs" />
                <hr class="space visible-sm" />
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="flexslider slider nav-inner white" data-options="controlNav:true,directionNav:false">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox inner" href="http://www.framework-y.com/images/thumb-large.png">
                                <span><img src="~/Template/images/gallery/large-1.jpg" alt="" /></span>
                                <span class="caption-box">
                                    <span class="caption">
                                            "I believe the web is not just a platform; it's a boundless canvas where imagination meets innovation,
                                            and where endless possibilities are waiting to be painted with pixels and powered by code."
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox inner" href="http://www.framework-y.com/images/thumb-large.png">
                                <span><img src="~/Template/images/gallery/large-1.jpg" alt="" /></span>
                                <span class="caption-box">
                                    <span class="caption">
                                            My dedication to this craft goes beyond writing lines of code. It's about understanding the needs of users, solving real-world problems, and striving for excellence in every project I undertake.
                                            I'm always seeking ways to push boundaries, stay updated with the latest trends, and embrace challenges head-on.
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-bg-image bg-top" style="background-image:url(/Template/images/long-2.jpg)">
    <div class="container content">
        <h1 class="text-center">See the killer features</h1>
        <hr class="space" />
        <div class="row vertical-row">
            <div class="col-md-6">
                <img src="~/Template/images/box-1.png" alt="" data-anima="fade-left" data-time="1000" />
            </div>
            <div class="col-md-6">
                <h4>Analytics & reporting</h4>
                <p>
                    Algolia’s analytics dashboard helps product teams better understand what their users are looking for most, as well as where they are hitting dead-ends most often.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismo.
                </p>
                <a href="#" class="circle-button btn btn-sm">View datas</a>
            </div>
        </div>
        <hr class="space m" />
        <div class="row vertical-row">
            <div class="col-md-6">
                <h4>Analytics & reporting</h4>
                <p>
                    Algolia’s analytics dashboard helps product teams better understand what their users are looking for most, as well as where they are hitting dead-ends most often.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismo.
                </p>
                <hr class="space s" />
                <a href="#" class="circle-button btn btn-sm">View datas</a><span class="space"></span>
                <a href="#" class="circle-button btn btn-border btn-sm">Details</a>
            </div>
            <div class="col-md-6">
                <img src="~/Template/images/box-2.png" alt="" data-anima="fade-right" data-time="1000" />
            </div>
        </div>
    </div>
</div>
<div class="section-bg-image bg-top" style="background-image:url(~/Template/images/bg-14.png)">
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <h1>People are beautiful</h1>
                <p>
                    Aaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
            <div class="col-md-8 boxed-inverse shadow-1">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Premium support</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed doido.</p>
                        <hr class="space s" />
                        <div class="counter-box-simple text-color-2"><span class="counter text-l" data-speed="5000" data-to="50000" data-refresh-interval="100"></span><span> Costumers</span></div>
                    </div>
                    <div class="col-md-6">
                        <ul class="fa-ul text-color ">
                            <li><i class="fa-li fa fa-check"></i> Experienced team</li>
                            <li><i class="fa-li fa fa-check"></i> Lovely, friendly and funny people</li>
                            <li><i class="fa-li fa fa-check"></i> Thousands of satisfied cosutmers</li>
                            <li><i class="fa-li fa fa-check"></i> Billions of transistors</li>
                            <li><i class="fa-li fa fa-check"></i> Nanometric technologies</li>
                            <li><i class="fa-li fa fa-check"></i> Revolutionary flow work method</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="space" />
        <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:4,controlNav:false,directionNav:true">
            <ul class="slides">
                <li>
                    <a class="img-box lightbox shadow-1" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="~/Template/images/gallery/image-1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-box lightbox shadow-1" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="~/Template/images/gallery/image-2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-box lightbox shadow-1" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="~/Template/images/gallery/image-9.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-box lightbox shadow-1" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="~/Template/images/gallery/image-3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-box lightbox shadow-1" href="~/Template/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                        <img src="~/Template/images/gallery/image-1.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>